body {
    background-color: purple;
    /* purple*/
}

h1 {
    color: white;
    /* white */
}

p {
    color: fuchsia;
    /* fuchsia */
}

ul {
    background-color: silver;
    /* silver */
}